<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <header></header>

    <%- include('partials/header') %>

    <form action="/convert" method="POST" class="form-Currency">
      <div>
        <label for="fname">Date:</label>
        <select id="reference_date" name="reference_date">
          <% const Date =
          ["2020-03-26","2020-03-25","2020-03-24","2020-03-23","2020-03-20","2020-02-07","2020-02-06","2020-02-05","2020-02-04","2020-02-03","2020-01-31","2020-01-30","2020-01-29","2020-01-28"];
          %> <% Date.forEach( time => { %>
          <option value="<%= time %>"><%= time %></option>
          <% }) %>
        </select>
      </div>
      <div>
        <label for="amount">Amount:</label>
        <input type="text" id="amount" name="amount" placeholder="amount .." />
      </div>
      <div>
        <label for="src_currency">Source Currency : </label>
        <input
          type="text"
          id="src_currency"
          name="src_currency"
          placeholder="Source Cur"
        />
      </div>
      <div>
        <label for="dest_currency">Source Currency : </label>
        <input
          type="text"
          id="dest_currency"
          name="dest_currency"
          placeholder=" Des Currency .."
        />
      </div>
      <button class="btn-currency">Change Currency</button>
    </form>

    <div>
      <h3>Amount :<%= age %></h3>
      <h3>Des Currency:<%= name %></h3>
    </div>
    <footer></footer>
  </body>
</html>
