<div class="wrapper">
<h1>Node Express Monogoose - (express-handlebars) </h1>
</br>


<table>
	
		<th>Title</th>
		<th>Description</th>
		<th>Date</th>
		<th>Action</th>
	
	<tbody>
		
		{{#each data}}
		<tr>
		<td>{{title}}</td>
		<td>{{description}}</td>
		<td>{{date}}</td>
		<td><a href="/posts/delete/{{_id}}"><button>Delete</button></a> | <a href="/posts/update/{{_id}}"><button class = "update">Update</button></a></td>
		</tr>
		{{else}}
		<tr>

		<h2>Sorry, There is not data ... </h2>
		</tr>
		{{/each}}
		
	</tbody>
</table>
</div>
